#all-books-list {
  /* background-color: lightblue; */
  background-color: #D9D9D9;
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(5, 125px);
  grid-auto-rows: 300px;
  grid-row-gap: 250px;
  grid-column-gap: 5px;
  /* grid-gap: 50px; */
  height: 100vh;
  overflow: scroll;
  padding-left: 30px;
}

