#all-books-list {
  /* background-color: lightblue; */
  /* background-color: white; */
  width: 40vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-auto-rows: 165px;
  /* grid-column-gap: 15px; */
  height: 100vh;
  overflow: scroll;
  /* grid-row-gap: 15px; */
}

