h2 {
  color: red;
}

.book-card {
  /* border: 2px solid blue; */
  /* padding: 10px; */
  /* margin: 10px; */
  width: 100px;
  display: grid;
  grid-template: 1fr/1fr;
  /* overflow: scroll; */
}

img {
  width: 100px;
  grid-area: 1/1/2/2;
}

button {
  align-self: start;
  grid-area:  1/1/2/2;
}