main {
  background-color: #f3d8dc;
}

ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
}

#books-and-requests {
  display: flex;
}

* {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  text-align: justify;
  hyphens: auto;
}